<div class="row">
  <p class="alert alert-info" id="total_posts" role="alert"></p>

  <input id="User" class="form-control" />

  <header class="header">
    <h1>Posts</h1>
  </header>

  <div id="messages" class="container">
  </div>

  <div id="UserList" class="container">
  </div>

  <div class="col-sm-10">
    <input id="message-input" class="form-control" />
  </div>
</div>
